<html>
  <head>
    <title>Flapper News Tutorial</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
    <div class="well row">
        <div class="col-md-6 col-md-offset-3" style="background-color:#cccccc; border-radius:5px; margin-top:50px">
            <div class="page-header">
                <h1>Flapper News</h1>
                <h4>*Development of this app will resume once angularJS skills are solid*</h4>
            </div>
            <div class="well well-sm" style="border-radius:5px" ng-repeat="post in posts | orderBy: '-upvotes'">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
                    {{post.upvotes}}
                <span style="font-size:20px; margin-left:10px;">
                    <a ng-show="post.link" href="{{post.link}}">
                        {{post.title}}
                    </a>
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
            </div>

            <form ng-submit="addPost()" style="margin-top:30px;">
                <h3>Add a New Post</h3>

                <div class="form-group" style="width:50%">
                    <input type="text"
                        class="form-control"
                        placeholder="Title"
                        ng-model="title"></input>
                </div>

                <div class="form-group" style="width:50%">
                    <input type="text"
                        class="form-control"
                        placeholder="Link"
                        ng-model="link"></input>
                </div>

                <button type="submit">Post</button>
            </form>
        </div>
    </div>
  </body>
</html>
